*{
    padding: 0px;
    margin: 0px;
}
.navBar{
    background-color: #247459;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.navlist{
    display: flex;
    align-items: center;
    column-gap: 20px;

}
.navlist a{
    text-decoration: none;
    color: wheat;
    width: 80px;
    padding: 2px 15px;
    border: 2px solid wheat;
    text-align: center;
    border-radius: 20px;

}
.navprofile{
    width: 55px;
    height: 55px;
    border-radius: 50px;
}
.menuIcon{
    display: none;
}
.profileBody{
    height: 90vh;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.profileimg{
    width: 350px;
    height: 500px;
    object-fit: cover;

}

.text1{
    font-size: xx-large;

}
.text1::first-letter{
    font-size: 50px;
    color: cadetblue;

}
.text2{
    font-size: 50px;
    
}
.text3{
    font-size: x-large;
    font-style: italic;

}
.skillset{
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-top: 15px;
}


.skillset p{
    padding: 3px 15px;
    width: 100px;
    background-image: linear-gradient(to right, cadetblue,black);
    text-align: center;
    border-radius: 20px;
}
.aboutmebody{
    width: 70px;
    margin: 15px ;

}
@media screen and (max-width: 700px) {
    .navBar.active{
        height: 200px;
        align-items: flex-start;
        justify-content: center;

    }
    .navBar .navlist{
        display: none;
    }
    .navBar.active .navlist{
        display: grid;
        row-gap: 15px;


    }
    .navprofile{
        position: absolute;
        right: 15px;
        top: 10px;
    }
    .menuIcon{
        display: block;
        position: absolute;
        left: 15px;
        top: 15px;
    }
    .menuIcon{
        color:black;
        font-size: 32px;
    }
}
